*{
margin: 10px;
}
.App {
  display: grid;
  grid-template-columns:2fr 5fr 5fr;
  grid-template-rows:350px 1fr 200px;
  grid-template-areas:
  "header header header"
  "navbar c c"
  "footer footer footer";
  grid-gap:10px;
}
.app_footer{
  grid-area: footer;
  background-color: #5c4cd2;
  margin:0px 10px 0px 10px;
  text-align: center;
}
.app_content{
  grid-area: c;
  background-color: #b3e2e4;
  margin:0px 10px 10px;
}
